<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026939742047-v59q89vec9afm5tshg2rimdfv7vmg4ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026939742047-v59q89vec9afm5tshg2rimdfv7vmg4ke</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026939742047-6erhfifeni0fjf00qi04k9t9d5u5qv9c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxme4do7ri-Xr6onU-53DdiLp6lMy0izE</string>
	<key>GCM_SENDER_ID</key>
	<string>1026939742047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>classes.RentMeMVP</string>
	<key>PROJECT_ID</key>
	<string>rentme-19ec0</string>
	<key>STORAGE_BUCKET</key>
	<string>rentme-19ec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026939742047:ios:397636e3bfc22948</string>
	<key>DATABASE_URL</key>
	<string>https://rentme-19ec0.firebaseio.com</string>
</dict>
</plist>